@import "../../../../variables";

:host
    position: fixed
    bottom: 0
    color: black
li
    display: inline-block
    margin: .2rem
    padding: .6rem .6rem .3rem .6rem
    background: white
.status
    color: rgb(215, 56, 5)
    // color: rgb(185, 215, 5)
