@import '../../../../../variables.styl'
:host
    background-color: boxBColor
    padding: boxPadding
    word-wrap: break-word
    max-width: 100%
.github-issues
    font-weight: bold
.issue
    margin-bottom: .8rem
    background-color: boxAColor
    padding: boxPadding
.close-btn
    font-weight: bold
    display: inline-block
    position: relative
    left: 100%
    transform: translateX(-100%)
    cursor: pointer
    padding: .2em
    border: none
    margin-bottom: .2rem
    color: backgroundPrimaryColor
    background: transparent
