<div class="desc">
    <a target="_blank" href="{{repo.html_url}}">
        <h2>{{repo.name}}</h2>
    </a>
    <ul class="details">
        <li>
            <span>Stargazers</span><span>{{repo.stargazers_count}}</span>
        </li>
        <li>
            <span>Watchers</span><span>{{repo.watchers_count}}</span>
        </li>
        <li>
            <span>Forks</span><span>{{repo.forks_count}}</span>
        </li>
        <li class="desc-text">
            <span>Description</span><span>{{repo.description}}</span>
        </li>
    </ul>
    <button class="btn-open-issues" [class.no-issues]="!repo.open_issues_count" type="button" (click)="isIssueClosed=false;searchOpenedIssues(repo);">
        Open Issues: {{repo.open_issues_count}}
    </button>
</div>
<open-issues
    *ngIf="repoID==repo.id && repo.issues.length"
    [repo]="repo"
    (close-issue)="onCloseIssue()"
    [hidden]=isIssueClosed>
</open-issues>
