/* You can add global styles to this file, and also import other style files */
textPrimaryColor = rgb(203, 221, 194)
warningColor = rgb(207, 119, 11)
linkPrimaryColor = rgb(131, 168, 189)
backgroundPrimaryColor = rgb(12, 22, 27)
boxAColor = #252E32
boxBColor = #3D4549
boxPadding = .3rem .5rem
radiusPrimary = .5rem
